<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login NonniBot2026</title>

    <meta
      name="description"
      content="login page for the site for the NonniBot2026 Robotics project"
    />
    <meta name="author" content="@jcarlo0118" />
    <link rel="stylesheet" href="static/style.css"></a>
  </head>
  <body>
    <div class="box">
    <h1>Register</h1>  
      <form id="registerForm">
        <label for="username">username: </label>
        <input type="username" class="inputField" id="username" name="username" placeholder="username">
        <br>
        <br>
        <label for="password">new password: </label>
        <input type="password" class="inputField" id="user_password" name="user_password" placeholder="user_password">
        <br>
        <br>
        <label for="password">confirm password: </label>
        <input type="password" class="inputField" id="confirm_user_password" name="confirm_user_password" placeholder="confirm_user_password">
        <br>
        <br>
        <button type="submit" class="submitButton" id="submitButton">Register</button>
        <br>
        <p id="suggestLogin">already have an account?<a href="/login">click here to login</a></p>
      </form>
      </form>
    </div>

    <script src="static/register.js"></script>
  </body>

</html>
